<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="education.elhazent.com.mysubmission">

    <uses-permission android:name="android.permission.INTERNET" />
    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="education.elhazent.com.mysubmission.testing.SingleFragmentActivity" />
    </application>

</manifest>